@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,600&display=swap');

*{
  color: white;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 3px;
  opacity: 1;
  margin: 0px;
}


html{
  /* border: 1px solid white; */
  background: linear-gradient(47deg, rgb(39, 47, 54) 59%, rgb(65, 82, 94) 82%);
  /* height: calc(100% + 10vh); */

}

body{
  zoom: 75%;
  padding: 5px;
  background-repeat:no-repeat;
  background-attachment: fixed;
  /* border: 1px solid white; */

}

.ewfuihe{
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(160px);
  height: calc(100% + 30vh);

  z-index: -1;
  /* width: 100%; */
  /* height: 100%; */
  user-select: none;
}
.mesh{
  color: orange;
  background-color: none;
  font-size: 120px;
  position: relative;
  bottom: 130px;
  left: 525px;

}

.boxxyy-4{
  margin-left: 0px;
  height: 100%;
  opacity: 1;
  z-index: 0;
  /* border: 1px solid white; */


}

.hehe{
  margin-top: 15px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hehe h1{
  margin-left: 40px;
  font-weight: 600;
  font-size: 32px;
  user-select: none;
}

.date{
  margin-left: 10px;
  margin-right: 10px;
}



.date-rate{
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
}

.date, .rate{
  /* padding: 20px; */
  border-radius: 8px;
  /* margin-top: 10px; */
  /* border: 1px solid white; */
}

.line {
  background-color: turquoise;
  /* border: 1px solid turquoise; */
  padding: 8px 2px;
  width: 130px;
  border-radius: 8px 8px 0px 0px ;
}

.rate-line{
  background-color: green;
}

.space{
  max-width: 130px;
  height: 70px;
  background-color: white;
  border-radius: 0px 0pc 8px 8px;
}

.date h3{
  /* background-color: white; */
  width: 150px;
  position: relative;
  right: 5px;
  bottom: 10px;
  font-weight: 24px;
}


.rate h3{
  position: relative;
  left: 30px;
}


#release-date, #ratt, #run{
  color: rgb(49, 49, 49);
  font-size: 35px;
  letter-spacing: 0px;
}
#release-date, #ratt{
  position: relative;
  top: 10px;
  left: 20px;
}


#run{
  position: relative;
  top: 10px;
  left: 10px;

}

.run-line{
  background-color: orange;
}

.gene{
  /* border: 1px solid rgb(0, 0, 0); */
  margin-left: 50px;
}

.bored{
  /* border: 1px solid white; */
  display: flex;
}
.icon{
  font-size: 50px;
  position: relative;
  bottom: 10px;
  color: rgb(75, 158, 75);;
  /* background: white; */
}

#second-page-title{
  padding: 10px 30px;
}

.search-cont{
  margin-right: 40px;
}

#search-button{
  margin: 0px;
  margin-right: 40px;
  padding: 0px;
  border: none;
  background: none;
}

#search-button i{
  color: rgb(255, 255, 255);
  background: rgb(75, 158, 75);
  padding: 18px;
  font-size: 30px;
  border-radius: 100%;
  margin-left: 30px;
  box-shadow: -1px 12px 15px 0px rgba(0,0,0,0.3);
  transition: box-shadow 1.5s, background 0.5s;
}

#search-button:hover{
    cursor: pointer;
}

#search-button i:hover{
  background: rgb(60, 125, 60);
  box-shadow: -1px 12px 15px 0px rgba(0,0,0,0.3);
}

.box-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
}

.box-5{
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.box-3{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  /* border: 1px solid white; */
  max-width: 2960px;

}

.box-3 span{
  margin-top: 100px;
  filter: blur(0px);
}

.movie-selected-poster{
  width: 564px;
  height: 847px;
  user-select: none;
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.97);
  border-radius: 6px;
  margin-left: 35px;
}


/* #rating-box:hover{
  cursor: pointer;
  box-shadow: -1px 12px 15px 0px rgba(0,0,0,0.3);
 */

 #rating-text{
   font-size: 50px;
   position: relative;
   bottom: 226px;
   left: 555px;
 }

.descript-box{
  width: 600px;
  height: 827px;
  margin: 0px 35px;

  display: flex;
  flex-wrap: wrap;
  align-content:space-between;

  /* border: 1px solid white; */
}

#overview{
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,0);

}

.text{
  width: 100%;
}

.description{
  color: white;
  padding: 25px;
  font-size: 20px;
  background-color: none;
  border-radius: 6px;
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.4);
  user-select: none;
  transition: box-shadow 0.3s;
}


.description:hover{
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,1);
  cursor: pointer;
}

.details{ 
  /* height: 500px; */
  /* margin-top: 40px; */
  border-radius: 6px;
}


.scoll-container{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid white; */

}

.scroll{
  width: 90%;
  height: 300px;
  margin-bottom: 60px;
  max-width: 2600px;

}


.good{
  color: green;
}

.poor{
  color: red;
}

.medium{
  color: orange;
}

.hidden{
  display: none;
}

@media screen and (max-width: 1026px) {
  .boxxyy-4{
    margin-left: 0px;
  }

  #search-cont{
    background-color: none;
  }
  /* .search-cont{
    width: 80%;
  } */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(37, 45, 51); 
}

::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 101, 101); 
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: -5px;
  bottom: 0px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: #13293d;
  padding: 12px;
  color: #fff;
  font-size: 80%;
  z-index: 1;
}